.ans-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #000;
  padding: 8px 16px;
  font-size: 16px;
  font-family: source-han-sans-japanese, sans-serif;
  margin: 10px;
}

.ans-button:not([disabled]):hover {
  cursor: pointer;
}

.question-item {
  font-size: 20px;
  margin: 10px 0px;
}

.question {
  font-size: 26px;
  font-weight: 900;
}

.official-reference {
  font-size: 16px;
}

.ans {
  font-size: 16px;
}

.result {
  font-size: 20px;
}

.tweet-btn {
  appearance: none;
  border: 0;
  background: #00acee;
  border-radius: 5px;
  color: #000;
  padding: 8px 16px;
  font-size: 16px;
  font-family: source-han-sans-japanese, sans-serif;
  margin: 10px;
}

.tweet-btn:hover {
  cursor: pointer;
}
